<h2>Update the drone</h2>

<form action="/drones/{{this.singleDrone.id}}/edit" method="post">
    <label for="name">Name: </label>
    <input type="text" name="name" value="{{this.singleDrone.name}}">
    <br>
    <label for="propellers">Propellers: </label>
    <input type="text" name="propellers" value="{{this.singleDrone.propellers}}">
    <br>
    <label for="maxSpeed">Max Speed: </label>
    <input type="text" name="maxSpeed" value="{{this.singleDrone.maxSpeed}}">
    <button type="submit">Update Drone</button>


</form>